.rows{
    display: flex;
    flex-direction: column;
    align-items: unset;
}

@media screen and (min-width: 769px){
    .large{
        width: 70vw !important;
    }
}

@media screen and (min-width: 1200px){
    .large{
        width: 50vw !important;
    }
}

html{
    background-color: #b2ebe0;
}

#app{
    background-color: #b2ebe0;
    height: 100%;
}

.container{
    background-color: white;
}
